*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f2ed;
    font-family:Arial,sans-serif;
}

nav{
    background:#4b2e2e;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

nav a:hover{
    color:#d4a373;
}

.contenedor{
    padding:40px;
}

footer{
    background:#4b2e2e;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

h1{
    color:#4b2e2e;
    margin-bottom:20px;
}

button{
    background:#6f4e37;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#4b2e2e;
}

.hero{
    text-align:center;
    padding:60px;
}

.productos{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;
    padding:30px;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    text-align:center;
}

.producto-img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

.carrito{
    background:white;
    margin:30px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.item-carrito{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}

.login-form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
}
.admin-panel{
    background:white;
    padding:30px;
    margin:30px;
    border-radius:15px;
}

.admin-panel input{
    display:block;
    margin:10px 0;
}

.admin-panel button{
    margin-left:10px;
}